*{
    text-align: center;
    background-color: grey;
}

#question {
    width: 80%;
    height: 100px;
    font-size: larger;
    color: black;
    margin: auto 10% auto 10%;
    text-align: center;
}

#choices {
    height: 50%;
    width: 90%;
    display: flex;
    flex-direction: row;
    margin-left: 50px;
    margin-top: 5px;
}

#choices button {
    text-align: center;
    font-size: large;
    margin-left: 2%;
    height: 30%;
    width: 15%;
    background-color: darkgray;
    position: relative;
    left: 18%;
}

button:hover{
    background-color: white;
}
#timer {
    height: 30%;
    width: 30%;
    position: absolute;
    left: 35%;
    bottom: 20%;
    color: black;
    font-weight: bolder;
    font-size: larger;

}
#start{
    font-size: larger;
    font-weight: bold;
    margin: 2% 40% 2% 40%;
    width: 10%;
    height: 6%;
    background-color: darkgray;
}

#start:hover{
    border-width: 2px;
    border-color: black;
}

#messagebox {
    position: absolute;
    width: 50%;
    height: 8%;
    margin-left: 25%;
    margin-top: 5%;
    font-size: xx-large;

}