*{
    text-align: center;
}

#question {
    width: 80%;
    height: 100px;
    font-size: larger;
    color: black;
    background-color: aqua;
    margin: auto 10% auto 10%;
    text-align: center;
}

#choices {
    height: 300px;
    width: 900px;
    display: flex;
    flex-direction: column;
    margin-left: 50px;
    margin-top: 5px;
}

button {
    font-size: large;
    margin-left: 10%;
    height: 30%;
    width: 30%;
    background-color: blue;
}

button:hover{
    background-color: white;
}
#timer {
    height: 100px;
    width: 300px;
    background-color: black;
    position: relative;
    bottom: 200px;
    color: beige;
}
#start{
    font-size: larger;
    font-weight: bold;
    margin: 2% 40% 2% 40%;
    width: 10%;
    height: 6%;
    background-color: green;
}

#start:hover{
    border-width: 2px;
    border-color: black;
}